.fullscreen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.centerView {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.view-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.navigationBar {
    box-shadow: 0px 0px 10px gray;
    margin: 0;
    width: 50px;
    padding-top: 50px;
    text-align: center;
}

.menu {
    z-index: 2;
    width: 200px;
    height: 85%;
    float: right;
    margin: 10px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.50);
    pointer-events: initial;
    overflow: scroll;

    border-radius: 10px;
   
    box-shadow: 0px 0px 10px gray;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease-out;
    
    scrollbar-width: none;

    resize: vertical;

    visibility: visible;
    display: block;
}

.menu.collapsed {
    width: 35px;
    height: 40px;

    overflow: hidden;

    resize: none;
}

.menu.closed {
    visibility: hidden;
    display: none;
}

.collapseButton {
    margin: 10px;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border-width: 1px;
    padding-bottom: 20px;
}

.numberinput {
    border-radius: 5px;
}